* {
  font-family: "Merriweather Sans", sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  
}
header {
  width: 100%;
  height: 100vh;
  background: url(f2.png);
  background-size: 45% 85%;
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
  overflow-x: hidden;
}
.rewards-bar {
  height: 210px;
  width: 1440px;
  margin: 50px auto;
}
.rewards-bar img {
  height: 210px;
}

.rewards-detail {
  width: 720px;
  background-color: #1E3932;
  height: 210px;
  margin: -214px 0 0 720px;
}
.rewards-detail p {
  padding-top: 50px;
  color: white;
  font-size: 1.25rem;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: bold;
  text-align: center;
}
.rewards-detail a{
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 25px;
}
.sticky-nav{
  border: 1.5px inset #D6D6D6;
  background-color: #F9F9F9;
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.sticky-nav-list{
  margin-left: 135px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.sticky-nav-list li{
  font-weight: lighter;
  font-size: 0.75rem;
  margin-left: 20px;
  margin-right: 20px;
}
nav {
  width: 100%;
  height: 6.25rem;
  padding: 0 20px;
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 2px 0px 5px gray;
}
.logo img {
  position: relative;
  right: 8.025rem;
  padding-top: 0.313rem;
  width: 4.75rem;
}
.sign {
  position: relative;
  right: -100px;
}
#signin {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-family: "Merriweather Sans", sans-serif;
  background-color: white;
  border: solid black;
  border-radius: 25px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 10px;
  position: relative;
  left: 2px;
}
.sign a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-family: "Merriweather Sans", sans-serif;
  background-color: black;
  border: solid black;
  border-radius: 25px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 10px;
  position: relative;
  left: 2px;
}
#navitem {
  font-size: 1rem;
  position: relative;
  right: 23.125rem;
}
.menu {
  font-size: 1.25rem;
  right: 48.88rem;
}

.menu a {
  font-family: "Merriweather Sans", sans-serif;
  color: #000;
  padding: 10px 20px;
  transition: all 0.45s;
}
.h-text {
  position: absolute;
  top: 30%;
  left: 5%;
  padding: 15px;
  z-index: -1;
}
.h-text p {
  color: #262626;
  letter-spacing: 3px;
  font-weight: bold;
}
.h-text h1 {
  font-size: 4em;
  line-height: 1.5em;
}
.h-text h2 {
  font-size: 4em;
  margin-bottom: 0.5em;
}
.h-text #order {
  color: #fff;
  background: brown;
  padding: 10px 20px;
}
.h-text #dis {
  color: #fff;
  background: #262626;
  padding: 10px 20px;
}

.heading {
  text-align: center;
  font-weight: 300;
}
.food {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 15rem;
  position: absolute;
  z-index: -1;
}
.food .box {
  width: 250px;
  height: 200px;
  border: 0;
  outline: none;
  transition: all 0.5s;
  margin: 20px;
}
.food .box .imf {
  text-align: center;
}
.food .box .imf h2 {
  color: #555;
  font-weight: 500;
}
.food .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.food.box:hover {
  transform: scale(1.07);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  padding: 0 7px;
  overflow: hidden;
  color: #fff;
}
.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: brown;
  padding: 20px 40px;
  outline: none;
  transition: 0.5s;
  color: #fff;
}
textarea.contact-form-text {
  resize: none;
  height: 120px;
}
.contact-form-btn {
  float: right;
  border: 0;
  background: #535e34;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover {
  background: #2980b9;
}
.food-menu{
  /* border: 2px solid red; */
  height: 400px;
  width: 100%;
  /* margin-bottom: 300px; */
  /* overflow-x: hidden; */
}
.overall-menu{
  /* border: 2px solid red; */
  height: 100px;
  width: 200px;
  float: left;
  margin-left: 150px;
}
.overall-menu li{
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-menu{
  /* border: 2px solid green; */
  height: 100px;
  width: 900px;
  float: left;
  margin-left: 50px;
  margin-top: 10px;
  /* overflow-y: hidden; */
  scrollbar-width: none;

}
.circle{
  height: 125px;
  width: 125px;
  border-radius: 50%;
  background-color: #1F3933;
}
td{
  padding: 20px;
}
.right-table{
  padding-left: 150px;
}
.section {
  width: 100%;
  min-height: 67vh;
  background-color: brown;
  color: #fff;
}
.containers {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}
.content-section {
  float: left;
  width: 55%;
}
.image-section {
  float: right;
  width: 40%;
}
.image-section img {
  width: 100%;
  height: auto;
}
.content-section .title {
  text-transform: uppercase;
  font-size: 28px;
}
.content-section .content h3 {
  margin-top: 20px;
  color: #5d5d5d;
  font-size: 21px;
}
hr{
  margin-bottom: 20px;
}
footer ul{
  margin: 0 50px 20px 50px;
}
footer li{
  font-size: 15px;
  padding-bottom: 20px;
  color: #BCB4A9;
}
.footer-list-heading{
  color: #000;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.social-logo{
  margin-right: 20px;

}
.content-section .content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
.content-section .content .btn3 {
  margin-top: 30px;
}
.content-section .content .btn3 a {
  background-color: #3d3d3d;
  padding: 12px 40px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1.5px;
}
.content-section .content .btn3 a:hover {
  background-color: #a52a2a;
  color: #fff;
}
.content-section .socials {
  margin: 40px 40px;
}
.content-section .socials i {
  color: #a52a2a;
  font-size: 30px;
  padding: 0px 10px;
}
.content-section .socials i:hover {
  color: #3d3d3d;
}
@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image-section {
    float: none;
    width: 100%;
  }
  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .content-section .title {
    text-align: center;
    font-size: 19px;
  }
  .content-section .content .btn3 {
    text-align: center;
  }
  .content-section .content .btn3 a {
    padding: 9px 30px;
  }
  .content-section .socials {
    text-align: center;
  }
}
